In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
#Create DataFrame
df = pd.DataFrame({"TransactionAmount":[100, 150, 50 ,100 ,130 ,120 ,100 ,85 ,70 ,150 
                                        ,150 ,120 ,50 ,100 ,100 ,140 ,90 ,150 ,50 ,90 
                                        ,120 ,100 ,110 ,75 ,65]})
df

    TransactionAmount
0                 100
1                 150
2                  50
3                 100
4                 130
5                 120
6                 100
7                  85
8                  70
9                 150
10                150
11                120
12                 50
13                100
14                100
15                140
16                 90
17                150
18                 50
19                 90
20                120
21                100
22                110
23                 75
24                 65

In [13]:
#Central Tendency
import statistics
print ("Mean: ",statistics.mean(df['TransactionAmount']))# print mean
print ("Median: ",statistics.median(df['TransactionAmount']))# print median
print ("Mode: ",statistics.mode(df['TransactionAmount']))# print mode

Mean:  102.6
Median:  100
Mode:  100

In [ ]:
#Tulis analisismu dari Central Tendency di sini
# Mean memiliki nilai lebih tinggi dari Median yaitu 102.6 dan 100, berarti persebaran data bersifat simetris dan transaksi dibawah Mean lebih banyak
# Mode bernilai 100, berarti mayoritas transaksi yang terjadi bernilai 100

In [45]:
#Variability
import numpy as np
print("Variance TransactionAmount :",np.var(data_numeric))
print("Standard Deviation TransactionAmount :",np.std(data_numeric))
print("Max & Min TransactionAmount ",np.max(data_numeric) - np.min(data_numeric))
print("Quantile 0.25 TransactionAmount :",np.quantile(data_numeric, 0.25))
print("Quantile 0.50 TransactionAmount :",np.quantile(data_numeric, 0.5))
print("Quantile 0.75 TransactionAmount :",np.quantile(data_numeric, 0.75))

Variance TransactionAmount : 1057.71
Standard Deviation TransactionAmount : 32.52245378196424
Max & Min TransactionAmount  99
Quantile 0.25 TransactionAmount : 21.0
Quantile 0.50 TransactionAmount : 58.5
Quantile 0.75 TransactionAmount : 81.5

In [47]:
#Tulis analisismu dari Variability di sini
#Memiliki variance yang tinggi yaitu 1057.71, berarti ada transaksi yang jauh lebih besar ataupun jauh lebih kecil dari nilai rata-rata
#Rentang nilai transaksi yaitu 99
#Standar deviasi dari nilai Mean adalah 32.52245378196424. Nilai ini menunjukkan seberapa tersebar data TransactionAmount dari Mean

In [49]:
#Define H0 and H1
#H0: Rata-rata nilai transaksi = $100
#H1: Rata-rata nilai transaksi  > $100

In [51]:
#Define alpha = 0.05

In [53]:
#Calculate t statistics and P-value
#Perform one sample t-test

stats.ttest_1samp(a=df, popmean=100)

TtestResult(statistic=array([0.40850016]), pvalue=array([0.68652848]), df=array([24]))

In [ ]:
#statistic=0.40850016 , pvalue=0.9487957102568818

In [33]:
#menyimpulkan nilai alpha dan p-value
#p-value hasil test lebih besar dari alpha (5%), gagal untuk menolak H0
#kesimpulan: Training kepada 25 sampel pekerja sales tidak efektif, rata-rata transaksi masih = $100

In [35]:
#Conclude with t statistics and critical region
#Find the critical region

In [55]:
#H1: larger (right side)
stats.t.ppf(1-0.05, 24)

1.7108820799094275

In [41]:
# Hasil critical region t > 1.7108820799094275, sedangkan nilai t-statistics 0.40850016
# Karena t-statistik berada di luar critical region, maka kita gagal menolak H0
# Kesimpulan: Training kepada 25 sampel pekerja sales tidak efektif, rata-rata transaksi masih = $100